* {
	box-sizing: border-box;
}
.wrapper {
	padding: 40px;
}
.range, .number {
	margin: 0 20px 0;
	font-size: 16px;
	width: auto;
}
.interest, .value {
	width: 100%;
}
.interest {
	background-color: red;
}
.volume {
	background-color: green;
}
.box {
	margin: 30px;
	width: 32px;
	height: 108px;
	border: 1px solid #370174;
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-end;
  	position: absolute;
  	top: 100px;
  	left: 150px;
}